<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<body>
		<div class="text-center mb-3">
			<a href='<%=emails_path%>' data-method="POST" data-remote="true" class="btn btn-primary">Recevoir Email</a>
		</div>
		<div class="container row mx-auto">
			<div class="col-6 card" style="margin-left: 10px;">
				<div class="card-header">
    				Object
  				</div>
  				<div id="object">
				  	<%@email.each do |email|%>
				  			<div style="padding-top: 5px;" id="email-<%=email.id%>">
					    		<%=email.object%> | <a href="<%=email_path(email)%>" data-remote="true">Contenue du mail</a>
					    		<%if email.is_read == false%>
					    			<div id="status_false-<%=email.id%>">Status : email non-lu</div>
					    		<%elsif email.is_read == true%>
					    			<div id="status_true-<%=email.id%>">Status : email lu</div>
					    		<%end%>
					    	</div>
					<%end%>
				</div>
			</div>
			<div class="col" id="object_content">
				<div class="card-header">
					Contenue
				</div>
			</div>
		</div>
	</body>
</html>


